<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="~/Content/prettify.css" rel="stylesheet" />
    <link href="~/Content/jquery.tablesorter.pager.css" rel="stylesheet" />
    <link href="~/Content/theme.bootstrap.css" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

</head>
<body>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-alert.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-button.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-carousel.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-collapse.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-dropdown.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-modal.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-tooltip.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-popover.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-scrollspy.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-tab.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-transition.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-typeahead.js"></script>
    <script src="~/Scripts/TweeterBootstrap/bootstrap-fileupload.js"></script>

    <script src="~/Scripts/jquery.numeric.js"></script>

    <script src="~/Scripts/prettify.js"></script>

    <script src="~/Scripts/TweeterBootstrap/jquery.tablesorter.js"></script>
    <script src="~/Scripts/TweeterBootstrap/jquery.tablesorter.widgets.js"></script>
    <script src="~/Scripts/TweeterBootstrap/jquery.tablesorter.pager.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(function () {
            $.extend($.tablesorter.themes.bootstrap, {
                table: 'table table-bordered',
                header: 'bootstrap-header', // give the header a gradient background
                footerRow: '',
                footerCells: '',
                icons: '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                sortNone: 'bootstrap-icon-unsorted',
                sortAsc: 'icon-chevron-up',
                sortDesc: 'icon-chevron-down',
                active: '', // applied when column is sorted
                hover: '', // use custom css here - bootstrap class may not override it
                filterRow: '', // filter row class
                even: '', // odd row zebra striping
                odd: ''  // even row zebra striping
            });

            $('.dropdown-toggle').dropdown();
        });

    </script>
    <div class="container">
        <h1 style="color: #134c7c">Sınav Görevlendirme Sistemi</h1>
    </div>
    <div class="container main">

       <ul class="nav nav-tabs" role="navigation" style="background-color:#134c7c; padding:5px;">
            <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Öğretmen Bilgileri <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/ogretmenekle">Öğretmen Ekle</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/ogretmenlistesi">Öğretmen Listesi</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Okul Bilgileri <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/okulekle">Okul Ekle</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/okullistesi">Okul Listesi</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="drop3" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Sınavlar <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/sinavac">Yeni Sınav</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/sinavliste">Sınav Listeleri</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#sinavSec" href="#sinavSec">Sınav Görevlendirme</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/yonetim/ayarlar">Ayarlar</a>
            </li>
        </ul>
        <div class="navbar navbar-inverse" style="display:none">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <ul class="nav" role="navigation">
                        <li class="dropdown">
                            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Öğretmen Bilgileri <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/ogretmenekle">Öğretmen Ekle</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/ogretmenlistesi">Öğretmen Listesi</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Okul Bilgileri <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/okulekle">Okul Ekle</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/okullistesi">Okul Listesi</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="drop3" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Sınavlar <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/sinavac">Yeni Sınav</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/yonetim/sinavliste">Sınav Listeleri</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#sinavSec" href="#sinavSec">Sınav Görevlendirme</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <div style="height:30px"></div>
    <div id="footer">
        Sınav Görevlendirme Sistemi | <a href="http://www.bilsa.com.tr">BİLSA A.Ş</a> 2013
    </div>
   
    @if (TempData["EventResult"] != null)
    {
        <script>
            $(document).ready(function () {
                $('.pageform').before('<div class="alert alert-@(((SG_BLL.Tools.Result)TempData["EventResult"]).Status)"><a class="close" data-dismiss="alert">×</a>@(((SG_BLL.Tools.Result)TempData["EventResult"]).Message)</div>');
            });
        </script>
    }

     <div id="sinavSec" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Onaylanmamış Sınavlar</h3>
        </div>
        <div class="modal-body">
           @{ Html.RenderAction("_onaysizSinavlar","Home");  }
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Kapat</button>
            @*<button class="btn btn-primary">Devam</button>*@
        </div>
    </div>
</body>
</html>
